@font-face {
  font-family: "Lato";
  src: url('images/Lato/Lato-Regular.ttf');
}

html{
  font-family: Lato;
}


.player{
  font-family: Lato;
  font-size: 35px;
  
}

.score{
  font-size: 35px;
  margin:1em;
  color: red ;
}

.result{
border: 1px solid rgb(65, 65, 65);
border-radius: 2px;
box-shadow:6px 6px 2px 1px rgb(36, 35, 35) ;
font-size: 35px;
padding: 10px;

}

#dice{
  box-shadow: -1px 1px -1px 1px rgb(136, 2, 2) ;
}